:root {
    --basic: rgb(50, 50, 58);
    --basicA: rgba(50, 50, 58,0.7);
    --primary: rgba(25, 25, 33, 0.8);
    --secondary: rgb(115, 210, 222);
    --tertiary: rgb(57, 68, 99);
    --grid-line: rgba(200, 200, 200, 0.2);
    --text: rgb(155, 175, 175);
    --text-solid-ego: rgb(100, 215, 215);
    --text-solid-tu: rgb(215, 215, 100);
    --text-hover: rgb(155, 195, 195);
    --logo-color: rgba(0, 0, 0, 0.8);
    --grid-line-width: 2px;
    --animate-duration: 0.5s;
}


body {
    background-color: var(--basic);
    color: var(--text);
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    color: var(--logo-color);
}

p {
    margin: 0;
}

button {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    border: none;
    color: var(--text);
}

.full-height {
    height: 100vh;
}


/* projects-bar */

#projects-bar {
    text-align: center;
    width: 8rem;
    padding: 0;
    background-color: var(--primary);
    border-right: var(--grid-line) solid var(--grid-line-width);
    overflow-y: auto;
}

#logo {
    border-radius: 100%;
    box-shadow: 0px 0px 20px rgb(119, 141, 169);
    width: 4.5rem;
    line-height: 4.5rem;
    margin: 1rem auto;
    padding: 1;
    font-size: 4.5rem;
    text-align: center;
    background: radial-gradient(circle, rgb(0, 100, 102) 0%, rgb(77, 25, 77)100%);
}

#logo :hover {
    animation: rotate 0.5s infinite linear;  
    color: var(--logo-color);
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

#projects-bar>button {
    margin: 1rem auto 0 auto;
    width: 6rem;
    background-color: var(--basic);
    border-radius: 10px;
}


/* head-bar */
#head-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary);
    padding: 1rem;
    height: 10%;
    border-bottom: var(--grid-line) solid var(--grid-line-width);
}

.title {
    line-height: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--primary);
    font-weight: 900;
    width: fit-content;
    height: fit-content;
}


#button-container {
    justify-content: space-around;
}

#head-bar button {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    color: var(--primary)
}

/* channels-bar */
#channels-bar {
    color: var(--text);
    text-decoration: none;
    padding: 0;
    height: 90%;
    background-color: var(--primary);
    border-right: var(--grid-line) solid var(--grid-line-width);
    overflow-y: auto;
}

#channel-lists-container {
    padding: 0.5vw;
    text-align: center;
}

#channel-lists-container * {
    color: var(--text);
    text-decoration: none;
    margin: 0.5rem;
}

#channel-lists-container * :hover {
    color: var(--text-hover);
}

.channel{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    outline: rgba(255, 255, 255, 1) solid 1px;
    background: rgba(255, 255, 255, 0.1) ;
    padding: 3px;
    border-radius: 3px;
    
}


.btn-toggle {
    color: var(--text);
}


/* Chat room*/
#chat-room-container {
    height: 90%;
}

#chat-room {
    padding: 0;
    height: 100%;
    width: 100%;
}

#messages-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    background-color: var(--primary);
    border-bottom: var(--grid-line) solid var(--grid-line-width);
    border-radius: 10px;
    padding: 1rem;
    overflow-y: auto;
}

.scroller {
    overflow-y: auto;
    width: 300px;
    height: 100%;
    scrollbar-color: darkblue;
}

.message {
    position: relative;
    justify-self: flex-start;
    background: var(--tertiary);
    width: auto;
    max-width: 15rem;
    height: auto;
    padding: 0rem 1rem 0.5rem;
    margin: 0.5rem 0;
    word-wrap: break-word;
}

.sender {
    font-size: 0.8rem;
    font-weight: 1000;
}

.tu {
    border-radius: 0px 5px 15px 15px;
    margin-left: 2.5rem;
}

.tu ::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1rem;
    border-bottom: 0.75rem solid transparent;
    border-right: 1.2rem solid var(--tertiary);
}

.tu>.sender {
    color: var(--text-solid-tu);
}

.ego {
    align-self: flex-end;
    border-radius: 5px 0px 15px 15px;
    margin-right: 2.5rem;
}

.ego ::before {
    content: "";
    position: absolute;
    top: 0;
    right: -1rem;
    border-bottom: 0.75rem solid transparent;
    border-left: 1.2rem solid var(--tertiary);
}

.ego>.sender {
    color: var(--text-solid-ego);
}

#message-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
    height: 10%;
    padding: 1rem 1.75rem;
}

#message-form>input[type='text']  {
    background: var(--tertiary);
    border-radius: 10px;
    color: var(--text);
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    line-height: 1rem;
    width: 100%;
    height: 2rem;
    padding: 0.5rem 1rem;
}

#message-form button,
label,
.submit-logo {
    margin-left: 0.5rem;
    color: var(--text);
    font-size: 1.25rem;
}

#message-form label {
    cursor: pointer;
}

#member-list-container {
    width: 15rem;
    height: 100%;
    margin: auto;
    justify-self: flex-end;
    background: var(--secondary);
    padding: 0.5rem;
}

#member-list-container>.title {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

li.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--primary);
    height: 2.5rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}

.profile-pic {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    background: white;
    border-radius: 100%;
}

.user-name {
    font-size: 0.9rem;
}

#popup-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: var(--basicA);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: fade-in 0.3s linear;
}

.popup {
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    padding: 80px;
    text-align: center;
    border-radius: 3px;
}

.popup input {
    border-radius: 3px;
    border: none;
}

.popup input {
    border-radius: 3px;
}

input[type='submit'] {
background-color: var(--primary);
color: var(--secondary);
}


.hidden {
    display: none!important
}

@keyframes fade-in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
