@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
:root {
    --border-color: #BBB;
    --primary-color: #28A3D7;
    /* --secondary-color: #995555; */
    --secondary-color: rgb(25, 25, 33);
    --pending-color: #d44747;
}

body {
    font-family: Work Sans, Arial, Helvetica, sans-serif;
    padding-top: 100px;
}

#main {
    max-width: 1800px;
    margin: auto !important;
}

nav > div {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 100;
}

.logo {
    font-size: 35px;
    /* margin-bottom: -15px !important; */
    border: 2px double var(--primary-color);
}

nav .search {
    display: inline-block;
}

nav .search input,
nav #nav-icons-guest,
nav button{
    font-size: 20px;
    border-radius: 3px;
    padding: 1px 13px;
    transition: all 1s;
}


input[type='text'] {
    border: 0.5px solid var(--border-color);
}

input[type='submit'],
button,
#signup-form>label{
    color: white;
    background-color: var(--primary-color);
    border: none;
    outline: none !important;
}

#signup-form label {
    font-size:inherit;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}

#nav-icons {
    display: flex;
    align-items: flex-end;
}

nav i {
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
}

nav .fa-user {
    margin-right: 27px;
}

nav .propic {
    object-fit: cover;
    width: 45px !important;
    height: 45px !important;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: -5px;
    cursor: pointer;
}

.dropdown {
    background-color: white;
    border: 0.5px solid var(--border-color);
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 20px;
    animation: fade-in 0.5s ease-in-out;
    max-height: 80vh;
    overflow-y: auto;
}

.dropdown .caption-light {
    font-size: 0.8rem;
}

.dropdown div {
    padding: 0.5em;
}

.dropdown hr {
    margin: 0;
}

#user-dropdown {
    width: 7em;
    text-align: center;
}

#notif-dropdown, #msg-dropdown {
    width: 25em;
    text-align: right;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    /* opacity: 1; */
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: fade-in 0.3s linear;
}

/* .popup-container.hidden {
    display: flex;
    opacity: 0;
    z-index: -100;
    transition: all 1s;
} */

.popup {
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    padding: 80px;
    text-align: center;
    border-radius: 3px;
}

.popup input {
    margin: 8px;
    border-radius: 3px;
}

h2 {
    font-family: Work Sans;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.02em;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
}


/* Card */

.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.card-container {
    padding-right: 15px;
}

.project-card .card-status {
    color: var(--primary-color)
}

.project-card img:first-of-type {
    cursor: pointer;
    width: 100%;
    height: 260px;
    object-fit: cover;
}

@media (max-width: 1500px) {
    .project-card img:first-of-type {
        height: 225px;
    }
}
@media (max-width: 768px) {
    .project-card img:first-of-type {
        height: 115px;
    }
}
@media (max-width: 576px) {
    .project-card img:first-of-type {
        height: 200px;
    }
}


.card .propic {
    object-fit: cover;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
}

.card .username,
.card .task-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
}

.caption-light,
.card .task-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #BBB;
}

.card .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
}

.card i, #btn-div i {
    font-size: 20px;
    cursor: pointer;
    color: var(--primary-color);
}

.project-card i {
    color: var(--border-color);
}
.project-card i.active {
    color: var(--primary-color);
}
.project-card i.pending {
    color: var(--pending-color);
}

/* action buttons on project page  */
.action-btn {
    background-color: rgb(161, 161, 161);
    font-weight: 500;
    padding: 0.5em 1.5em;
    margin-right: 0.5em;
    border-radius: 3px;
    box-shadow: -2px 6px 6px rgb(75, 84, 92);
    transition: all 0.5s;
}
.action-btn.active {
    background-color: var(--primary-color);
}
.action-btn.pending {
    background-color: var(--pending-color)
}

.user-card,
.tags-card {
    text-align: center;
    width: 100%;
    padding: 50px;
}

.propic-lg {
    object-fit: cover;
    width: 200px !important;
    height: 200px !important;
    border-radius: 100%;
    margin: auto;
}

.tag {
    display: block;
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    color: white;
    margin: 3px;
    padding: 5px;
}

.edit-btn {
    font-size: 20px;
}

#edit-propic {
    margin-left: -30px;
}

body.guest .edit-btn,
body.guest .pending-btns {
    display: none;
}

#proj-image {
    display: flex;
    flex-wrap: wrap;
}

.project-img {
    width: 50%;
    height: auto;
}

#proj-image>img:nth-child(2) {
    width: 100%;
}

.crew-card,
.task-card,
.filter-card {
    padding: 50px;
}




/* global styles */
a {
    color: var(--primary-color);
}

a, i {
    transition: all 0.5s;
}

a:hover, nav i:hover,
.card i:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

input[type='submit']:hover, button:hover, .tag:hover {
    color: white;
    background-color: var(--secondary-color);
    
}

.hidden {
    display: none !important;
}

/* space button */
#space-button-container {
    position: fixed;
    bottom: 4.5vh;
    right: 4.5vw;
    z-index: 200;
}

#space-button {
    color: rgb(235, 255, 255);
    background: none;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 3.5rem;
    background: radial-gradient(circle, rgba(0, 50, 52, 0.5) 0%, rgba(77, 25, 77, 0.5)100%);
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(33, 37, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#space-button :hover {
    animation: rotate 0.5s infinite linear;  
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

#projects-container {
    font-family: Work Sans;
    color: black;
    position: absolute;
    text-align: center;
    top: -26vh;
    left: -8vw;
    background: rgb(235, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(115, 210, 222, 0.7);
    min-width: 7vw;
    height: 25vh;
}

#projects-container>div {
    display: flex;
    flex-direction: column;
}

#projects-container>div>div:first-child {
    background: rgba( 0, 0, 0, 0.1);
    /* color: rgba(255, 255, 255, 1); */
    border-radius: 10px 10px 0 0;
    padding: 15px 5px;
    text-align: center;
}

#projects-container>div>ul {
    padding: 5px 5ps;
    text-align: center;
}

#projects-container>div>div:last-child {
    justify-self: flex-end;
    background: rgb(155, 175, 175);
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    margin-top: auto;
    padding: 15px 5px;
    text-align: center;
}

#projects-container>div>div:last-child>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#notif-box {
    z-index: -100;
    position: fixed;
    opacity: 0;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%) ;
    padding: 40px 60px;    
    transition: all 1s;
}

#notif-box.show {
    z-index: 300;
    opacity: 1;
    bottom: 15%;
    display: block;
    transition: all 1s;
}

@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}


/* responsive */
@media (max-width: 992px) {
    .dropdown {
        font-size: 0.85rem;
    }
    .dropdown .caption-light {
        font-size: 0.7rem;
    }
}


@media (max-width: 833px) {
    body {
        padding-top: 150px;
    }
    .dropdown {
        top: 50px;
        left: 20px;
        max-height: 60vh;
        animation: fade-in 0.5s ease-in-out;
        text-align: left !important;
    }
}

@media (max-width: 424px) {
    body {
        padding-top: 200px;
    }

}
